.input-users-search {
    align-self: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #531cb7;
    outline: none;
    width: 90%;
    font-size: 1em;
    transition: all .25s ease;
}

.input-users-search:hover, .input-users-search:focus {
    border-color: #0053d0;
}

.input-users-search::placeholder {
    color: rgb(223, 223, 223);
}